.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 1.5rem;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
}

.type {
  display: flex;
  gap: 1rem;
}

.day-time {
  display: flex;
  gap: 2rem;
}

.day-time p {
  margin: 0;
}

.heading {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
}