.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.fieldset {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border: none;
	margin: 0;
	padding: 0;
}

.group {
	display: flex;
	gap: 2rem;
}

.input {
	padding: 0.5rem;
	border: 1px solid black;
	border-radius: 0.25rem;
}
