.container {
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: .25rem;
  gap: 1rem;
}

.date {
  color: rgb(172, 172, 172);
  text-align: center;
  margin: 0;
  align-self: center;
}

.no-entries {
  align-self: center;
}

