@import '../../../src/App.css';

.main-nav {
    margin-right: 1rem;
}

.nav-list {
    display: flex;
    gap: 1rem;
}

.nav-item {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--purple);
}

a:hover, .active {
    font-weight: 600;
    color: #e14aff;
}