@import '../../../src/App.css';

.outer-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 70%;
    margin-top: 1rem;
}

.inner-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 35%;
}

.label {
    font-size: .8rem;
}

.input {
    padding: .5rem;
    border: 1px solid black;
    border-radius: .25rem;
}

.switch-option-wrapper {
    display: flex;
    gap: .5rem;
}

.option {
    font-size: .75rem;
}

.action-link {
    background-color: transparent;
    border: none;
    color: var(--bold-light-blue);
    font-weight: bold;
    font-size: .75rem;
}

.action-link:hover {
    cursor: pointer;
    color: #60c4fe;
}

.error {
    color: red;
    font-size: .75rem;
    text-align: center;
    width: 40%;
}

