@import '../../../src/App.css';

.btn {
    background-color: var(--bold-light-blue);
    color: white;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: .4rem;
    font-weight: bold;
}

.small {
    padding: .75rem 1.5rem;
}
.disabled {
    background-color: #6ac4f7;
    pointer-events: none;
    cursor: not-allowed;
}

.btn:hover {
    cursor: pointer;
    background-color: #60c4fe;
}